body {
    background-image: url("civil.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: medium;
    background-color: #222222;
    color: rgb(255, 0, 0);
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #020731;
}

fieldset {
    border: 2px solid #020731;
    padding: 20px;
    border-radius: 8px;
    color: #000000;
    font-weight: bold;
}

legend {
    font-size: x-large;
    font-weight: bold;
    color: #020731;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
}

input[type="text"] {
    font-size: 1em;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #020731;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    color: rgb(255, 0, 0);
    opacity: 60%;
}

button {
    font-size: medium;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    background-color: #020731;
    color: rgb(255, 0, 0);

}

button:hover {
    background-color: rgb(255, 0, 0);
    color: #222222;
}

button.report-button {
    width: 100%;
}

button.exit-button {
    font-size: large;
    color: rgb(255, 0, 0);
    font-weight: bold;
    background-color: #020731;
    border: 1px solid rgb(255, 0, 0);
    margin-top: 20px;
}

button.exit-button:hover {
    background-color: rgb(255, 0, 0);
    color: #020731;
}
